package components

import (
	"github.com/ngsalvo/roadmapsh-personal-blog/dtos"
	"github.com/ngsalvo/roadmapsh-personal-blog/layouts"
)

templ Home(articles []dtos.Article) {
	@layouts.Page("Personal Blog") {
		<section class="mt-4 ml-4">
			<h1 class="text-primary text-2xl">Personal Blog</h1>
			<nav>
				<ul class="w-[450px]">
					for _, article := range articles {
						@ArticleLink(article)
					}
				</ul>
			</nav>
		</section>
	}
}
